<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planning_permission.name %>
</p>

<%= link_to 'Edit', edit_planning_permission_path(@planning_permission) %> |
<%= link_to 'Back', planning_permissions_path %>
