<p id="notice"><%= notice %></p>

<p>
  <strong>Intervall:</strong>
  <%= @insurance_facility.intervall %>
</p>

<%= link_to 'Edit', edit_insurance_facility_path(@insurance_facility) %> |
<%= link_to 'Back', insurance_facilities_path %>
